[run]
source = .

omit = ../*migrations*
       ../*integration*
       ../*commands*
       ../*admin_style*
       ../*init*
       ../*tests*
       ../*tests_features*
       src/*
       *.js
       apps.py
       admin.py


[report]
omit = ../*migrations*
       ../*integration*
       ../*commands*
       ../*admin_style*
       ../*init*
       ../*tests*
       ../*tests_features*
       src/*
       *.js
       apps.py
       admin.py