.idea
;;extensions to ignore
*.pot
*.pyc
*.mo
.vscode
.env
.venv
*.egg-info
requirements.lock
requirements-dev.lock

node_modules
.sass-cache
.vagrant
prepros-6.config
.project
.pydevproject
package-lock.json

etc/elasticsearch/config/jvm.options
etc/elasticsearch/config/log4j2.properties
.settings/org.eclipse.core.resources.prefs

*.jpg*x*
media/*

**/migrations/**
!**/migrations
!**/migrations/__init__.py

screenshots/
email.log/
project/media/
!project/media/test_media/

django_smartshop
sbcore
sbcore/admin_style/static/css/admin_style.css
sbcore/robot_tests/chromedriver.exe
sbcore/robot_tests/*.png
sbcore/robot_tests/*.html
sbcore/robot_tests/*.xml
sbcore/robot_tests/download
sbcore/static/iconset.json
!sbcore/

project/static/css/style.css
project/static/css/style.css.map
project/static/admin_css/extra.css
project/static/bundles/bundle.js
project/static/dist/*
project/templates_tw/static/dist/*
webpack-stats.json
data
.env-local
